.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popupBox {
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #006fb1;
  padding: 20px;
  border-radius: 4px;
  border: 10px rgba(255, 255, 255, 0.25) solid;
  background-clip: padding-box;
  p {
    margin-bottom: 15px;
    font-size: 28px;
  }
  button {
    width: 55px;
    height: 30px;
  }
  &:hover {
    border: 10px rgba(255, 255, 255, 0.35) solid;
  }
}
